@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
:root {
  --primary-color: rgb(71, 219, 187);
}

body {
  margin: 0;
  background: var(--primary-color);
  font-family: 'Squada One';
}

.top-intro-section{
  text-align: center;
  font-size: 50px;
}

.search-section{
  text-align: center;
  font-size: 30px;
}

.searchbar-input{
  width: 900px;
  height: 50px;
  font-size: 30px;
  border-radius: 5em;
  outline: none;
  padding-left: 20px;
  border: none;
} 

.searchbar-submit{
  width: 100px;
  height: 50px;
  border-radius: 5em;
  font-family: 'Squada One';
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.searchbar-submit:hover{
  -webkit-transform: scale(1.1) perspective(1px);
          transform: scale(1.1) perspective(1px);
          
  

}

.recipe-section{
  text-align: center;
  margin: 10px auto;
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
}


.column {
  margin: 25px;
  height: 500px;
  width: 350px;
  background-color:white;
  border-radius: 2em;
}



.recipe-img{
  padding: 0 0 5px 0;
  width: 350px;
  height: 200px;
  border-radius: 2em 2em 0 0;
}

.suggestion-text{
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: "Squada One";
}

